<h1>List of directors</h1>

<ul>
  <% @list_of_directors.each do |director| %>
    <li>
      <a href="/directors/<%= director.id %>">
        <img src="<%= director.image %>" width="100">

        <%= "#{director.last_name}, #{director.first_name}" %>
      </a>
    </li>
  <% end %>
</ul>
